{% extends "bootstrap/base.html" %}
<!--HERE IS THE INDEX HTML FILE WHERE 
IT DISPLAYS A SEARCH BAR WITH INFORMATION 
ON WHAT THE SEARCH BAR IS FOR-->
<!DOCTYPE html>
<html>
<head>
	<title> 205 Final Project </title>
	<meta charset="utf-8"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	
</head>
<body>
	{% block content %}
	
	<style> 
		
		body {
			text-align: center;
			size: 18 px;
		}
		nav {
			color:	rgb(255, 255, 255);
			background-color: #04bbf3 !important;
		}
		.navbar{
		  color: #04bbf3;
		}
	</style>

	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #04bbf3; color:#ffffff">
		<a class="navbar-brand" style="color: #ffffff; text-align:center">Twitter Analysis</a>
	  </nav>
	  
	  
	  <div class="jumbotron" style="text-align: center">
		<h1> Search Twitter Tag</h1>
		<h2> CST 205 Final Project </h2>
	  </div>
	<a style="font-size:18px"><strong>Please search either a key word or a hashtag 
			to find out how people have been feeling towards the specific key words or hashtag.</strong></a>
	<br> <br>
	<a "font-size:20 px"><strong>MAKE SURE TO ADD A '#' IF YOU ARE GOING TO SEARCH A HASHTAG </strong></a>
	<br> <br> 
	<div class ="searchbar" style="text-align: center" action="/graph">
		<form action="{{ url_for('graphs', search='my_search') }}" method="post">
		<input type="text" class = "srchBar" name = "twitHash" placeholder = "Enter a Hashtag" value="{{search}}">
		<input type="submit" name="form" value="Search!" class = "click"></input>
	</form>
	</div>
	<br>

	{% endblock %}	

</body>
</html>